/* footer */
footer {
    position: absolute;
    bottom: 0;
    height: 100px;
    width: 100%;
    float: left;
    clear: both;
    margin: 10px auto;
}

.footerLayout {
    position: relative;
    height: 100px;
    left: 5%;
    width: 90%;
    text-align: center;
}

.footerLayout span {
    font-size: 0.75rem;
    color: rgb(200, 200, 200);
}

.footerLayout nav {
    padding: 10px 0;
    font-size: 0.7rem;
    color: rgb(200, 200, 200);
}

.footerLayout nav a {
    font-size: 0.75rem;
    color: rgb(200, 200, 200);
}

.footerInfo {
    padding: 10px 0;
}

.footerInfo span {
    font-size: 0.75rem;
    color: rgb(200, 200, 200);
}

.footercopyright span {
    font-size: 0.75rem;
    color: rgb(200, 200, 200);
}