.ContentsTitle {
    text-align: center;
}
.InnerBorder{
    padding: 5%;
    margin: 5%;
    width: calc(80% - 4px);
    max-width: 640px;
    height: auto;
    border-color: rgba(139, 28, 33, 0.7);
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    box-shadow: 10px 10px 10px rgba(139, 28, 33, 0.5);
}

.ContentsTitle p {
    font-size: 18px;
    color: #444;
    font-weight: bold;
}

.ContentsMessage {
    text-align: center;
}

.ContentsMessage p {
    font-size: 14px;
    color: #555;
}

.ContentsImageWrappingBox {
    text-align: center;
    overflow: hidden;
}

.ContentsImageWrappingBox img {
    margin: 15px auto;
    display: block;
    max-height: 400px;
    width: auto;
    max-width: 100%;
}