.ContentsTitle {
    text-align: center;
}
.InnerBorder{
    padding: 5%;
    margin: 0 5%;
    width: calc(80% - 4px);
    height: auto;
    border-color: rgba(139, 28, 33, 1);
    border-radius: 10px;
    border: 2px;
    box-shadow: rgba(30, 30, 30, 0.6);
}
.ContentsTitle p {
    font-size: 18px;
    color: #444;
    font-weight: bold;
}

.ContentsMessage {
    text-align: center;
}

.ContentsMessage p {
    font-size: 14px;
    color: #444;
}

.ContentsImageWrappingBox {
    text-align: center;
    overflow: hidden;
}

.ContentsImageWrappingBox img {
    display: block;
    margin: auto;
    max-height: 400px;
    width: auto;
}