.backgroundImage {
    display: flex;
    align-items: center;
    position: absolute;
    left: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.backgroundImage img {
    position: absolute;
    object-fit: cover;
    min-height: 100%;
    min-width: 100%;
}

@media screen and (min-width:0) and (max-width:1920px) {
    .backgroundImage img {
        left: 50%;
        transform: translateX(-50%);
        height: 100%;
    }
}

@media screen and (min-width:1921px) and (max-width:5120px) {
    .backgroundImage img {
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
    }
}

#contactusCommitBtn {
    width: 280px;
    height: 40px;
    font-size: 18px;
    background-color: rgba(139, 28, 33, 1);
    color: white;
    background-color: rgba(139, 28, 33, 0.6);
    font-weight: bold;
    border-radius: 16px;
    border: none;
    transition: 0.35s;
}

#contactusCommitBtn:hover {
    background-color: rgba(139, 28, 33, 0.6);
    cursor: pointer;
    box-shadow: 0 0 12px rgba(169, 48, 53, 0.8);
}