.rows {
    float: left;
}

.contentsContainer {
    position: absolute;
    padding: 150px 0 120px;
    width: 100%;
    min-height: calc(100% - 270px);
    overflow: auto;
    transition: 1s;
    text-align: center;
}

#contentsWrapper {
    padding: 0 auto;
    width: 80%;
    max-width: 1280px;
    margin: auto;
}

.videoWrapper {
    width: 100%;
    height: auto;
    margin: 30px 0;
}

.text-faded {
    color: rgba(0, 0, 0, 0.7);
}

.text-left {
    text-align: left;
}

p {
    font-size: 16px;
    line-height: 1.5;
}

b {
    font-size: 20px;
    line-height: 1.5;
    font-weight: 700;
}

.headerContainer {
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0 10px 20px #222;
}